/* CSS declarations go here */
body { padding-top: 55px; }

.bert-alert.danger {
  background: #CD071E;
  color: #fff;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-bottom: 5px solid;
    border-color: #CD071E;
}*/

.navbar-default-whiteBG {
  background-color: #ffffff;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #CD071E;
}


.navbar-brand, .navbar-brand:hover{
  color: #CD071E;
}

a {
    color: #CD071E;
    text-decoration: none;
}

.btn-success, .btn-success:hover {
    color: #CD071E;
    background-color: #ffffff;
    border-color: #CD071E;
}
