.navbar .nav.pull-right {
    float: right;
    margin-right: 160px;
    /*set margin this way in your custom styesheet*/
}


/* CSS declarations go here */


/*.signUpBtns {
    padding-top: 10px;
  }*/

#login-buttons {
    margin-top: 18px;
}

.bert-alert.danger {
  background: #CD071E;
  color: #fff;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-bottom: 5px solid;
    border-color: #CD071E;
    background-color: #ffffff;
}*/
