<template name="gallery">
  <!-- Portfolio Grid Section -->
  <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Gallery</h2>
                  
                  <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/cabin.jpg" class="img-responsive" alt="Cabin">
                  </a>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/cake.jpg" class="img-responsive" alt="Slice of cake">
                  </a>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/circus.jpg" class="img-responsive" alt="Circus tent">
                  </a>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/game.jpg" class="img-responsive" alt="Game controller">
                  </a>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/safe.jpg" class="img-responsive" alt="Safe">
                  </a>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/submarine.jpg" class="img-responsive" alt="Submarine">
                  </a>
              </div>
          </div>
      </div>
    </section>
</template>
