<template name="sideNav">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" padding-top="100px">
            <li class="sidebar-brand">
                <!--<a href="#">-->
                <!--    Admin-->
                <!--</a>-->
            </li>
            <li>
                <a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Submissions</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-ticket" aria-hidden="true"></i> Bookings</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-film" aria-hidden="true"></i> Review</a>
            </li>
            <!--<li>-->
            <!--    <a href="#">About</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <a href="#">Services</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <a href="#">Contact</a>-->
            <!--</li>-->
        </ul>

    </div>
    <!-- end Sidebar -->
</template>