<template name="gallery">
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="page-header">Fleadh Gallery</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/cabin.jpg" class="img-responsive" alt="Cabin">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/cake.jpg" class="img-responsive" alt="Slice of cake">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/circus.jpg" class="img-responsive" alt="Circus tent">
                </div>
                <div class="col-sm-4 portfolio-item">

                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/game.jpg" class="img-responsive" alt="Game controller">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/safe.jpg" class="img-responsive" alt="Safe">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="img/portfolio/submarine.jpg" class="img-responsive" alt="Submarine">
                </div>
            </div>
        </div>
    </section>
    <style>
        /* todo: move to own file */
        #portfolio .portfolio-item .portfolio-link .caption {
            background: #62040f;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
        }
    </style>
</template>
