<template name="adminPageBookingsMgt">

  <style>
	.mDetails{
		padding-left:10px;
	}
	.row{
	  margin-top: 30px;
	}
  </style>
  {{#unless currentUser.emails.[0].verified}}
    <p class="alert alert-warning">You need to verify your email address before using the admin area. <a href="#" class="resend-verification-link">Resend verification link</a>.</p>
  {{else}}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-md-offset-3" >
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-md-offset-3">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-md-offset-3">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-3 col-md-offset-.5">
                <div class="thumbnail" style="margin-top:75px">
                    <img src="http://placehold.it/150x75" alt="...">
                    <div class="caption">
                    	<hr>
                        <p class="mDetails">Movie Details</p>
                        <hr>
                        <p class="mDetails">Times/Venue</p>
                        <hr>
                        <p class="mDetails">&#8364;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {{/unless}}

</template>
