<template name="filmReview">
    <form action="">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="form-group">
                    <h4>Film Submission</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="filmPlayer" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Comments</h4>
                    <textarea name="comments" id="comments" cols="30" rows="6" class="form-control" placeholder="Reviewer comments"></textarea>
                </div>
                <div class="row">
                    <div id="ratings" class="col-sm-4 col-xs-12">
                        <h4>Rating</h4>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                                <div class="list-group">
                                    <label class="list-group-item row">
                                        <div class="col-xs-3">
                                            <input type="radio" name="rating" id="ratingLike" value="1">
                                        </div>
                                        <div class="col-xs-6">
                                            Like
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </div>
                                    </label>
                                    <label class="list-group-item row">
                                        <div class="col-xs-3">
                                            <input type="radio" name="rating" id="ratingNeutral" value="0">
                                        </div>
                                        <div class="col-xs-6">
                                            Neutral
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="glyphicon glyphicon-record"></span>
                                        </div>
                                    </label>
                                    <label class="list-group-item row">
                                        <div class="col-xs-3">
                                            <input type="radio" name="rating" id="ratingDislike" value="-1">
                                        </div>
                                        <div class="col-xs-6">
                                            Dislike
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="glyphicon glyphicon-download"></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h4>Proposed Date</h4>
                        <div id="calendarButton">
                            {{> fullcalendar options id="reviewCalendar" }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h4>Proposed Venue &amp; Time</h4>
                        <ul class="nav nav-tabs nav-justified" id="tabsVenue" role="tablist">
                            <li class="active" role="presentation"><a href="#venueTown" data-tab-value="townHallTheatre" aria-controls="Town Hall Theatre" role="tab" data-toggle="tab">Town Hall</a></li>
                            <li role="presentation"><a href="#venueIMC" data-tab-value="imcGalway" aria-controls="IMC Galway" role="tab" data-toggle="tab">IMC Galway</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="venueTown" role="tabpanel">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeTownHall" id="timeTownHall1000" value="1000">
                                        10:00am
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeTownHall" id="timeTownHall1230" value="1230">
                                        12:30pm
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeTownHall" id="timeTownHall1400" value="1400">
                                        2:00pm
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeTownHall" id="timeTownHall1730" value="1730">
                                        5:30pm
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane" id="venueIMC" role="tabpanel">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeIMC" id="timeIMC1100" value="1100">
                                        11:00am
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeIMC" id="timeIMC1430" value="1430">
                                        2:30pm
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="timeIMC" id="timeIMC1830" value="1830">
                                        6:30pm
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="hidden" disabled="true" id="venue" name="venue" value="townHallTheatre">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6 col-sm-offset-6 col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="cancel" class="btn btn-default btn-block">Discard Changes</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-success btn-block" id="filmSubmit">Save Review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <style>
    /**************************/
    /* styles for ratings box */
    /**************************/
    #ratings .glyphicon {
        font-size: 24px;
        line-height: 14px;
        vertical-align: sub;
    }
    #ratings .list-group-item {
        /* make whole list-group's pill-shape act like anchor tag */
        cursor: pointer;
    }
    #ratings .list-group .row {
        /*remove bootstrap style for here only*/
        margin-right: 0;
        margin-left: 0;
    }
    #ratings div:first-child {
        text-align: right;
    }
    #ratings div {
        text-align: center;
    }
    #ratings div:last-child {
        text-align: left;
    }

    /**************************/
    /* styles for tab box */
    /**************************/
    .tab-pane {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 20px;
    }
    </style>

    <script>
    $(document).ready(function() {
        // add visual class to ratings radio when selected
        $('.list-group-item').click(function() {
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
        });

        // fill in hidden txt box when tab changes
        $('#tabsVenue a').on('shown.bs.tab', function(event) {
            $('#venue').val(this.dataset.tabValue);
        });
    });
    </script>
</template>
