<template name="filmBookingDetails">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default center" role="navigation">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Monday</a></li>
                            <li><a href="#">Tuesday</a></li>
                            <li><a href="#">Wednesday</a></li>
                            <li><a href="#">Thursday</a></li>
                            <li><a href="#">Friday</a></li>
                            <li><a href="#">Saturday</a></li>
                            <li><a href="#">Sunday</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="container" style="margin-top:50px">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col-sm-12 col-md-offset-1" style="min-height:300px;">
            <div class="col-sm-12 col-md-offset-1">
                <img src="http://placehold.it/1000x350">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col-sm-12 col-md-offset-1" style="min-height:300px;">
            <div class="col-sm-12 col-md-offset-1">
                <img src="http://placehold.it/1000x350">
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:50px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-top:50px">
            <div class="col-md-3 col-md-push-9">
                <table class="table table-bordered">
                    <tr>
                        <th>Total €</th>
                        <th></th>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-3 col-md-push-8.5">
                        <p><a href="#" class="btn btn-primary" role="button">Cancel</a></p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-push-8.5">
                            <p><a href="#" class="btn btn-primary" role="button">Book</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ALL CSS-->
        <style>
            .navbar-inverse {
    background-color: #fff;
    border-color: #CD071E;
}

.btn-success {
    color: #fff;
    background-color: #CD071E;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #CD071E;
    background-color: #fff;
    border-color: transparent;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
padding: 0;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
margin-left: auto;
margin-right: auto;

}

td {
border: 1px solid #dddddd;
text-align: left;
height: 30px;
padding-left: 8px;
margin-top: auto;
}

tr:nth-child(even) {
background-color: #dddddd;
}
tr:nth-child(even) td {
border: 1px solid white;
}

/*days of week bar*/
th {
border: 3px solid #dddddd;
text-align: left;
padding: 8px;
}

.dropdownAdmin1 {
  float: right;
}

#filmBookingsGrid .row{
    margin-bottom: 20px;

}

#filmBookingsGrid .col-xs-4{
    text-align:center;
}

#filmBookingsGrid .col-xs-4 img{
    display: inline-block;
}

.btn-primary {
    color: #fff;
    background-color: #CC061D;
    border-color: #fff;
}
.btn-primary:hover {
    color: #CC061D;
    background-color: #fff;
    border-color: #CC061D;
}

#days th:hover{
    color: #CC061D;
    background-color: #fff;
    border-color: #CC061D;
}

.navbar.center .navbar-inner {
    text-align: center;
    background-color:#CD071E;


}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
    background-color:#CD071E;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

/*nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {*/
/*    color: #fff;*/
/*    background-color: #cd071e;*/
/*}*/

.col-xs-3{
    border: #cdcdcd medium solid;
}

.col-xs-4{
    border: #cdcdcd medium solid;
}

.adminPageUserContent{
    min-width: 70vw;
    position:fixed;
    right:0;
    text-align:right;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #cd071e;
}

/*days of week word spacing*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 35px;
}


     </style>
   </div>
</template>
