<template name="filmQueue">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <!-- table.table.table-striped>thead>tr>th*8^^+tbody>(tr>th{$}+td>img[src="http://placehold.it/50x50"]^+td{Title}+td{Name}+td{20:00}+td{Short}+td{desc}+td{comments}+td>span.glyphicon.glyphicon-ok)*6 -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Queue</th>
                        <th>Thumnail</th>
                        <th>Title</th>
                        <th>Submitter Details</th>
                        <th>Length</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th>Comments</th>
                        <th>Reviewed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickable" data-href="#">
                        <th>1</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>A Walk in the Forest</td>
                        <td>Jane Doe</td>
                        <td>18:45</td>
                        <td>Short</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr class="clickable" data-href="#">
                        <th>2</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>Super Neat Movie</td>
                        <td>Alex Trebec</td>
                        <td>20:00</td>
                        <td>Short</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr class="clickable" data-href="#">
                        <th>3</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>Dramatic Actors</td>
                        <td>John Doe</td>
                        <td>15:23</td>
                        <td>Short</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-play-circle"></span></td>
                    </tr>
                    <tr class="clickable" data-href="#">
                        <th>4</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>Introspection: The Film</td>
                        <td>Martha Jones</td>
                        <td>1:35:18</td>
                        <td>Feature</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-play-circle"></span></td>
                    </tr>
                    <tr class="clickable" data-href="#">
                        <th>5</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>Creative Title</td>
                        <td>John McClane</td>
                        <td>33:34</td>
                        <td>Short</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-play-circle"></span></td>
                    </tr>
                    <tr class="clickable" data-href="#">
                        <th>6</th>
                        <td><img src="http://placehold.it/50x50" alt="Film Thumbnail"></td>
                        <td>Star Wars</td>
                        <td>Sally Smith</td>
                        <td>1:18:12</td>
                        <td>Feature</td>
                        <td><em>[desc]</em></td>
                        <td><em>[comments]</em></td>
                        <td><span class="glyphicon glyphicon-play-circle"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
    // Basic way to make a whole DOM node act as an anchor tag
    $(document).ready(function() {
        $('.clickable')
        .click(function() {
            window.location.href= $(this).data('href');
        })
        .css('cursor', 'pointer')
        .hover(function() { $(this).addClass('active') }, function() { $(this).removeClass('active') });
    });
    </script>
</template>
