<template name="signUp">

  <style>


	.btn-link {
		color: #fff;
		background-color: #CD071E;
	}

	.btn-primary {
		color: #000;
		background-color: #CD071E;
	}

	.btn btn-default {
		color: #000;
		border: 2px solid #F00;
	}

  </style>
   <div class="container">
   		<div class="row">
                <form class="form-horizontal" role="form">
                    <h1 align="center">Sign Up</h1>
                    <div class="form-group">
           				<div class="col-sm-6 col-sm-offset-3">
                            <input type="text" name="name" placeholder="Name" class="form-control" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
           				<div class="col-sm-6 col-sm-offset-3">
                            <input type="email" name="email" placeholder="Email" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
           				<div class="col-sm-6 col-sm-offset-3">
                            <input type="password"  name="password" placeholder="Password" class="form-control" required>
                        </div>
                        </div>
                    <div class="form-group">
           				<div class="col-sm-6 col-sm-offset-3">
                            <input type="tel"  name="contactNo" placeholder="Contact No." class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
           				<div class="col-sm-6 col-sm-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input type="radio" name="person" value="Student" checked> Student
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="radio" name="person" value="Teacher"> Teacher
                                </label>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" >
           				<div class="col-sm-6 col-sm-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="terms">I have read JFF's terms & privacy policy <a href="#">terms</a>
                                </label>
                            </div>

                    </div> <!-- /.form-group -->

           				<div class="col-xs-3 col-xs-offset-2">
                            <button type="reset" class="btn btn-default btn-block"> Cancel</button>
                        </div>
           				<div class="col-xs-3">
                            <button type="submit" class="btn btn-primary btn-block"  >Submit</button>
                        </div>
                    </div>

                </form> <!-- /form -->
           </div>
    </div> <!-- ./container -->
</template>
