<template name="viewFilms">
    <div class="container-viewFilms">
        <div class="row">
            {{#each filmListing}}
                <div class="filmItem col-xs-12 col-sm-4 col-md-3">
                    <a href="film/{{_id}}">
                        <h4>{{submittedFilm.title}}<small><em> by {{profile.user.name}}</em></small></h4>
                        <img src="{{ fileURL thumbRef 'thumbnail' }}" alt="thumbnail" class="img-responsive">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>

    <style>
      	.container-viewFilms{
      		padding-top: 90px;
      	}
    </style>
</template>
