
more use cases if needed:
admin
    modify users
    add workshops to db, calendar


context diagram: filmmaker makes account 

new data store: user accounts

new process: CRUD user accounts


ask Enda about if you can have one arrow in Context Diagrm
    then split into two arrows, one to each of two distinct processes, in the Level 0 Diagram